.banner {
    height: 110px;
    margin-bottom: 35px;
    position: relative;
    @media screen and (min-width: $breakpoint-desktop) {
      height: 220px;
    }
  
    &__img {
      border-radius: 25px;
      height: 100%;
      object-fit: cover;
      width: 100%;
      @media screen and (max-width: $breakpoint-desktop) {
        border-radius: 10px;
      }
    }
    &__clair {
      background-color: $background__about-color;
      width: 100%;
      height: 100%;
      border-radius: 25px;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      @media screen and (max-width: $breakpoint-desktop) {
        border-radius: 10px;
      }
    }
}